body {
  background-color:#e4f9f5;
}
hr {
  border-style:none;
  border-top-style:dotted;
  border-color:grey;
  border-width: 5px;
width: 4%
}
h1{
  background-color: #ffda77;
  color:#595B83;
  text-align: center;
}
h3{
  color:#af6b58;
  text-decoration: underline;
}
p{
  font-family: lucida;
  font-weight: 500;
  font-size: 1.2rem;
}
